// reescribir variables de bootstrap
$rojo: #f34f51;
$verde: #0098ae;
$oscuro: #212121;
$gris:#b5b5b5;

// asignar paleta de colores a bootstrap
$primary: $rojo;
$secondary: $verde;
$dark: $oscuro;

// Tipografia
$display-font-weight: 900;
$headings-font-weight: 700;

// cards
$card-border-color: transparent;
// nav-link

$nav-link-padding-x:0;
$nav-link-color:$gris;
$nav-link-hover-color:darken($gris,10%);


//importar boostrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
